<style>
  #shopify-section-{{ section.id }} {
    background-color: #000;
    padding: 4rem 0;
  }
  #shopify-section-{{ section.id }} * {
    box-sizing: border-box;
  }
</style>

<div class="map-store__container page-width-tablet page-width-desktop">
  <h3>{{ section.settings.title }}</h3>
  <p>{{ section.settings.sub_title }}</p>
  <div class="map-store__map-and-info">
    <div class="map-store__map">
      {{ section.settings.map_iframe }}
    </div>
    <div class="map-store__info">
      <img class="map-store__image" src="{{ section.settings.store_image | img_url: '500x500' }}" alt="Store Image">
      <div class="map-store__info-items">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'address' %}
              <div class="map-store__info-item">
                <h4>Dirección</h4>
                <p>{{ block.settings.address }}</p>
              </div>
            {% when 'schedule' %}
              <div class="map-store__info-item">
                <h4>Horario</h4>
                <p>{{ block.settings.schedule }}</p>
              </div>
            {% when 'phone' %}
              <div class="map-store__info-item">
                <h4>Teléfono</h4>
                <p>{{ block.settings.phone }}</p>
              </div>
            {% when 'email' %}
              <div class="map-store__info-item">
                <h4>Email</h4>
                <p>{{ block.settings.email }}</p>
              </div>
            {% when 'social' %}
              <div class="map-store__info-item">
                <h4>Redes Sociales</h4>
                <ul>
                  {% if block.settings.facebook != blank %}
                    <li><a href="{{ block.settings.facebook }}" target="_blank">Facebook</a></li>
                  {% endif %}
                  {% if block.settings.twitter != blank %}
                    <li><a href="{{ block.settings.twitter }}" target="_blank">Twitter</a></li>
                  {% endif %}
                  {% if block.settings.instagram != blank %}
                    <li><a href="{{ block.settings.instagram }}" target="_blank">Instagram</a></li>
                  {% endif %}
                </ul>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="map-store__logo">
        <img src="{{ section.settings.logo | img_url: '500x500' }}" alt="Logo">
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Map Store Location",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "VISITANOS EN NUESTRA TIENDA"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title",
      "default": "Si estas de visita en madeira, ven y conoce nuestra tienda física"
    },
    {
      "type": "html",
      "id": "map_iframe",
      "label": "Map Iframe"
    },
    {
      "type": "image_picker",
      "id": "store_image",
      "label": "Store Image"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ],
  "blocks": [
    {
      "type": "address",
      "name": "Address",
      "settings": [
        {
          "type": "text",
          "id": "address",
          "label": "Address",
          "default": "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States"
        }
      ]
    },
    {
      "type": "schedule",
      "name": "Schedule",
      "settings": [
        {
          "type": "text",
          "id": "schedule",
          "label": "Schedule",
          "default": "Lunes a Viernes de 9:00 a 18:00"
        }
      ]
    },
    {
      "type": "phone",
      "name": "Phone",
      "settings": [
        {
          "type": "text",
          "id": "phone",
          "label": "Phone",
          "default": "+1 650-253-0000"
        }
      ]
    },
    {
      "type": "email",
      "name": "Email",
      "settings": [
        {
          "type": "text",
          "id": "email",
          "label": "Email"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social Media",
      "settings": [
        {
          "type": "text",
          "id": "facebook",
          "label": "Facebook"
        },
        {
          "type": "text",
          "id": "twitter",
          "label": "Twitter"
        },
        {
          "type": "text",
          "id": "instagram",
          "label": "Instagram"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Map Store Location",
      "category": "Map",
      "blocks": [
        {
          "type": "address",
          "settings": {
            "address": "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States"
          }
        },
        {
          "type": "schedule",
          "settings": {
            "schedule": "Lunes a Viernes de 9:00 a 18:00"
          }
        }
      ]
    }
  ]
}
{% endschema %}