<style>
  #shopify-section-{{ section.id }} {
    margin: 3rem 0;
    padding: 20px 0;
  }

  .svg-text__contianer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
  }

  .svg-text__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
    text-align: center;
  }
  .svg-text__contianer svg {
    width: 60px;
    min-height: 3rem;
    /* stroke: rgb(var(--color-button)); */
  }

  /* .svg-text__contianer svg[data-name="back"], .svg-text__contianer svg[data-name="secure"] {
    fill: rgb(var(--color-button));
  } */
  .is_white svg {
    fill: white;
  }
  .is_brown svg{
    fill: brown;
  }

  .svg-text__devider {
    margin: 0 auto;
    margin-top: 5rem;
    width: 90%;
    border: 1px solid rgb(var(--color-button));
    max-height: 800px;
  }

  @media screen and (min-width: 600px) {
    .svg-text__contianer {
      display: flex;
      flex-direction: row;
    }
    .svg-text__devider {
      width: 64%;
    }
  }
</style>


<div id="shopify-section" class="color-{{ section.settings.color_scheme }}" >
  <div class="svg-text__contianer color-{{ section.settings.color_scheme }}"style="padding-top: 4rem;">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'svg_text' %}
          <div class="svg-text__content {% if block.settings.color_svg.white%} is_white {% endif %}" >
            {% render 'icon', icon: block.settings.svg_file_icon %}
            <p> {{ block.settings.description }} </p>
          </div>
        {% else %}
      {% endcase %}
    {% endfor %}
  </div>
    <hr class="svg-text__devider visibility-{{ section.settings.divider_visibility }}" />
  </div>
{% schema %}
{
  "name": "Features Multi Columns",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "divider_visibility",
      "label": "Divider Visibility",
      "default": "visible",
      "options": [
        {
          "value": "visible",
          "label": "Visible"
        },
        {
          "value": "hidden",
          "label": "Hidden"
        }
      ] 
    }
  ],
  "blocks": [
    {
      "type": "svg_text",
      "name": "Icon With Description",
      "settings": [
        {
          "type": "select",
          "id": "svg_file_icon",
          "label": "Icon",
          "options": [
            {
              "value": "secure",
              "label": "Lock"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "back",
              "label": "Return"
            }
          ]
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
        "type": "select",
        "id": "color_svg",
        "label": "Color Icon",
        "options": [
          {
            "value": "white",
            "label": "White"
          },
          {
            "value": "brown",
            "label": "Brown"
          }
        ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi Column Features"
    }
  ]
}
{% endschema %}