<style>
  #shopify-section-{{ section.id }} {
    margin: 7rem 0;
  }
  #shopify-section-{{ section.id }} * {
    box-sizing: border-box;
  }
  .wide-banner__container {
    display: flex;
    flex-direction: column;
    background-color: {% if section.settings.background_pattern == 'light' %} rgb(var(--color-link), .6)
      {% elsif section.settings.background_pattern == 'dark' %} #333
      {% endif %};
    background-image: url(
      {% if section.settings.background_pattern == 'light' %} "{{  'light-pattern-g.png' | asset_url }}"
      {% elsif section.settings.background_pattern == 'dark' %} "{{  '' | asset_url }}"
      {% endif %}
    );
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    border-radius: 1rem;
    margin: 3rem 1rem;
  }
</style>

<div class="wide-banner__outer_container page-width-tablet page-width-desktop">
  <div class="wide-banner__container">
    <div class="wide-banner__image" style="--blur-light-color:{{ section.settings.blur_color }}">
      <img
        srcset="{%- if section.settings.image.width >= 550 -%}{{ section.settings.image | image_url: width: 550 }} 550w,{%- endif -%}
            {%- if section.settings.image.width >= 1100 -%}{{ section.settings.image | image_url: width: 1100 }} 1100w,{%- endif -%}
            {%- if section.settings.image.width >= 1445 -%}{{ section.settings.image | image_url: width: 1445 }} 1445w,{%- endif -%}
            {%- if section.settings.image.width >= 1680 -%}{{ section.settings.image | image_url: width: 1680 }} 1680w,{%- endif -%}
            {%- if section.settings.image.width >= 2048 -%}{{ section.settings.image | image_url: width: 2048 }} 2048w,{%- endif -%}
            {%- if section.settings.image.width >= 2200 -%}{{ section.settings.image | image_url: width: 2200 }} 2200w,{%- endif -%}
            {%- if section.settings.image.width >= 2890 -%}{{ section.settings.image | image_url: width: 2890 }} 2890w,{%- endif -%}
            {%- if section.settings.image.width >= 4096 -%}{{ section.settings.image | image_url: width: 4096 }} 4096w,{%- endif -%}
            {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        sizes="(min-width: 750px) calc(100vw - 22rem), 1100px"
        src="{{ section.settings.image | image_url: width: 1445 }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="1100"
        height="{{ 1100 | divided_by: section.settings.image.aspect_ratio | ceil }}"
      >
    </div>
    <div class="wide-banner__content">
      <h3 class="wide-banner__title">{{ section.settings.title }}</h3>
      <div class="wide-banner__text">{{ section.settings.content }}</div>
      <a href="{{ section.settings.link }}" class="wide-banner__button button">{{ section.settings.button_label }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Wide Banner",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "content",
        "label": "Content"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label"
      }, {
        "type": "url",
        "id": "link",
        "label": "Link"
      }, {
        "type": "select",
        "id": "background_pattern",
        "label": "Background Pattern",
        "default": "light",
        "options": [
          {
            "value": "none",
            "label": "None"
          }, {
            "value": "light",
            "label": "Light"
          }, {
            "value": "dark",
            "label": "Dark"
          }
        ]
      },
      {
        "type": "color",
        "id": "blur_color",
        "label": "Blur Color",
        "default": "#fff"
      }
    ],
    "presets": [
      {
        "name": "Wide Banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}